@import "tailwindcss";

@theme {
  --font-sans: Cormorant Garamond, serif;
  --font-of: Great Vibes, cursive;
  --color-lagavulin-gold: #C9A968;
  --color-lagavulin-green: #2B3E38;
  --color-lagavulin-green-light: #A3B8B1;
}
